* {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 3px;
    box-sizing: border-box;
    font-weight:lighter;
}

h1{
    font-weight: bolder;
}
body {
    margin: 0;
}

header {
    background-color: rgb(255, 255, 255);
}

.nav-bar {
    text-align: center;
    position: relative;
}

.nav-bar .active {
    background-color: rgb(13,78,156);
    color: white;
}

.nav-bar a {
    text-decoration: none;
    color: rgb(17, 17, 17);
    padding: 30px 40px;
    font-weight: bold;
   
}

.nav-bar a:hover {
    background-color: rgb(13,78,156);
    color: white;
    font-weight: lighter;
}

/* Responsive Navigation */
.nav-links {
    display: inline-flex;
    justify-content: center;
}

.menu-toggle {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Media Queries for Mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a {
        padding: 20px;
        width: 100%;
        text-align: center;
    }
} 

.main-content{
    margin:0;
}

.presentation{
    margin:0 50px;
    background-color: rgb(13,78,156);
    color: white;
    border-top-left-radius:  20px;
    border-top-right-radius:  20px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 64%);
}
.presentation .p-item {
    margin-top: 0;
}
.vision-p{
    background-color: rgb(246, 160, 26);
    margin: 0 50px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 64%);
    padding: 0 200px;
    padding-top: 200px;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
}
.vision{
    background-color: rgb(13,78,156,.95);
    display:flex;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.64);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur des écrans petits */
}
.vision.reverse {
    flex-direction: row-reverse;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
    border-top-left-radius:  0;
    border-top-right-radius:  0;
}
.vision{
    width: 100%;
    color:rgb(255, 255, 255);
    border-top-left-radius:  20px;
    border-top-right-radius:  20px;
}

.vision .vision-text{

    flex: 1;
    padding: 20px;
    text-align: left;
}

.vision .vision-text h1{
    border-bottom: solid 1px rgb(255 255 255);
    cursor: pointer;
    animation:underline 6s infinite ease-in-out;
    font-size: 40px;
}
.vision-text p {
    font-size: 14px;
    color:rgb(255, 255, 255);

}
.vision-img{
    flex: 1;
    padding:20px;
    text-align: center;
}
.vision-img img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.64);
}

/* Pour les écrans plus petits que 1024px */
@media (max-width: 1024px) {
    .vision {
        flex-direction: column; /* Les éléments passent en colonne */
        text-align: center;
    }
    
    .vision .reverse {
        flex-direction: row-reverse; /* Inverser l'ordre pour les petits écrans */
    }

    .vision-text h1 {
        font-size: 30px; /* Réduire la taille du te */
        padding: 10px;
    }

    .vision-text p {
        font-size: 12px; /* Réduire la taille du texte */
    }
    
}

/* Pour les écrans plus petits que 768px */
@media (max-width: 768px) {
    .vision {
        padding: 10px; /* Réduire les espacements sur les petits écrans */
    }

    .vision h1 {
        font-size: 25px; /* Réduire davantage la taille du te */
    }

    .vision p {
        font-size: 11px; /* Réduire davantage la taille du texte */
    }
    .important{
        display: none;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
    }
}

@keyframes underline{
        0%{
            width: 200px;
        }
        30%{
            width: 100px;
        }
        50%{
            width: 110px;
        }
        60%{
            width: 80px;
        }
        70%{
            width: 90px;
        }
        60%{
            width: 60px;
        }
        70%{
            width: 70px;
        }
        80%{
            width: 40px;
        }
        90%{
            width: 60px;
        }
        100%{
            width: 20px;
        }
        110%{
            width: 80px;
        }
        120%{
            width: 150px;
        }
        150%{
            width: 200px;
        }
    
    
}


.equipe{
    padding: 100px;
   
}
/* ucture de chaque élément de la p */
.p-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne sur des écrans petits */
}

/* Inverser l'ordre de la première colonne et de l'image pour les petits écrans */
.p-item.reverse {
    flex-direction: row-reverse;
}


/* Section textuelle de chaque p */
.p-text {
    flex: 1;
    padding: 20px;
    text-align: left;
}

/* Te des ps */
.p-text h1 {
    font-size: 35px;
    margin-bottom: 15px;
    color:rgb(13,78,156);
}

/* Texte des ps */
.p-text .details{
    display: inline-block;
    width: 500px;
}
.p-text p {
    font-size: 14px;
    color:rgb(13,78,156);

}

/* Style de l'image */
.p-image {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin:0;
}

/* Les images de la p */
.p-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgb(0 0 0 / 64%);
}

/* Media Queries pour rendre le contenu responsive */

/* Pour les écrans plus petits que 1024px */
@media (max-width: 1024px) {
    .p-item {
        flex-direction: column; /* Les éléments passent en colonne */
        text-align: center;
    }
    
    .p-item .reverse {
        flex-direction: row-reverse; /* Inverser l'ordre pour les petits écrans */
    }

    .p-text h1 {
        font-size: 30px; /* Réduire la taille du te */
    }

    .p-text p {
        font-size: 12px; /* Réduire la taille du texte */
    }
    
}

/* Pour les écrans plus petits que 768px */
@media (max-width: 768px) {
    .p-item {
        padding: 10px; /* Réduire les espacements sur les petits écrans */
    }

    .p-text h1 {
        font-size: 25px; /* Réduire davantage la taille du te */
    }

    .p-text p {
        font-size: 11px; /* Réduire davantage la taille du texte */
    }
    .important{
        display: none;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
    }
}
.important {
    display: flex;
    position: absolute;
    top:65%;
    left: 30%;
    z-index: 100;
    animation: pulse 2s infinite;
}
@keyframes pulse{
     0%{
    transform: scale(1);
     }
     50%{
    transform: scale(1.05);
     }
     100%{
    transform: scale(1);
     }
}
footer{
    padding: 30px;
    background-color: rgb(216, 216, 216);
    position: static;
}
footer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}
footer div{
        flex: 1;
        text-align: left;
}
footer .first{
    padding-right: 300px;
    padding-left: 70px;
}
footer .second{
    padding-right:200px;
}
footer div li{
    list-style: none;
    padding: 10px;
}
footer div li a{
    text-decoration: none;
    color: black;
}
footer div li input,footer div li textarea{
    border: none;
    border-bottom: solid 1px black;
    background-color: rgba(245, 245, 220, 0);
}

footer div .name {
    display: flex;
    justify-content: center;
}